<div class="author-table">
<!-- ALL-CONTRIBUTORS-LIST:START - Do not remove or modify this section -->
<!-- prettier-ignore-start -->
<!-- markdownlint-disable -->
<table>
  <tr>
    <td align="center"><a href="https://github.com/smeehan12"><img src="https://avatars2.githubusercontent.com/u/13018253?v=4" width="100px;" alt=""/><br /><sub><b>Samuel Meehan</b></sub></a><br /><a href="#design-smeehan12" title="Design">🎨</a></td>
  </tr>
</table>

<!-- markdownlint-enable -->
<!-- prettier-ignore-end -->
<!-- ALL-CONTRIBUTORS-LIST:END -->
</div>
