<!-- all-contributors-list:start - do not remove or modify this section -->
<!-- prettier-ignore-start -->
<!-- markdownlint-disable -->
<table class="author-table">
  <tr>
    <td align="center"><a href="https://www.lieret.net"><img src="https://avatars3.githubusercontent.com/u/13602468?v=4" width="100px;" alt=""/><br /><sub><b>kilian lieret</b></sub></a><br /><a href="#ideas-klieret" title="ideas, planning, & feedback">🤔</a> <a href="https://github.com/hsf-training/test-module/commits?author=klieret" title="code">💻</a></td>
    <td align="center"><a href="https://github.com/smeehan12"><img src="https://avatars2.githubusercontent.com/u/13018253?v=4" width="100px;" alt=""/><br /><sub><b>samuel meehan with a very long name</b></sub></a><br /><a href="#ideas-smeehan12" title="ideas, planning, & feedback">🤔</a> <a href="https://github.com/hsf-training/test-module/issues?q=author%3asmeehan12" title="bug reports">🐛</a></td>
  </tr>
</table>

<!-- markdownlint-enable -->
<!-- prettier-ignore-end -->
<!-- ALL-CONTRIBUTORS-LIST:END -->
