<div class="author-table">
<!-- ALL-CONTRIBUTORS-LIST:START - Do not remove or modify this section -->
<!-- prettier-ignore-start -->
<!-- markdownlint-disable -->
<table>
  <tr>
    <td align="center"><a href="https://github.com/smeehan12"><img src="https://avatars2.githubusercontent.com/u/13018253?v=4" width="100px;" alt=""/><br /><sub><b>Samuel Meehan</b></sub></a><br /><a href="#design-smeehan12" title="Design">🎨</a></td>
    <td align="center"><a href="https://meirinoanevans.wixsite.com/portfolio"><img src="https://avatars1.githubusercontent.com/u/32399892?v=4" width="100px;" alt=""/><br /><sub><b>Meirin Oan Evans</b></sub></a><br /><a href="https://github.com/hsf-training/test-module/commits?author=meevans1" title="Code">💻</a></td>
    <td align="center"><a href="https://www.lieret.net"><img src="https://avatars3.githubusercontent.com/u/13602468?v=4" width="100px;" alt=""/><br /><sub><b>Kilian Lieret</b></sub></a><br /><a href="https://github.com/hsf-training/test-module/commits?author=klieret" title="Code">💻</a></td>
  </tr>
</table>

<!-- markdownlint-enable -->
<!-- prettier-ignore-end -->
<!-- ALL-CONTRIBUTORS-LIST:END -->
</div>
